@font-face {
    font-family: 'fontawesome-5-juicer';
    src: url("https://static.juicer.io/fonts/fontawesome-5-juicer.eot?33583011");
    src: url("https://static.juicer.io/fonts/fontawesome-5-juicer.eot?33583011#iefix") format("embedded-opentype"), url("https://static.juicer.io/fonts/fontawesome-5-juicer.woff2?33583011") format("woff2"), url("https://static.juicer.io/fonts/fontawesome-5-juicer.woff?33583011") format("woff"), url("https://static.juicer.io/fonts/fontawesome-5-juicer.ttf?33583011") format("truetype"), url("https://static.juicer.io/fonts/fontawesome-5-juicer.svg?33583011#fontawesome-5-juicer") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="juicer-fa-"]:before,
[class*=" juicer-fa-"]:before {
    font-family: "fontawesome-5-juicer";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.juicer-fa-heart:before {
    content: '\f004'
}

.juicer-fa-times:before {
    content: '\f00d'
}

.juicer-fa-edit:before {
    content: '\f044'
}

.juicer-fa-play:before {
    content: '\f04b'
}

.juicer-fa-pause:before {
    content: '\f04c'
}

.juicer-fa-chevron-left:before {
    content: '\f053'
}

.juicer-fa-chevron-right:before {
    content: '\f054'
}

.juicer-fa-arrow-left:before {
    content: '\f060'
}

.juicer-fa-eye:before {
    content: '\f06e'
}

.juicer-fa-retweet:before {
    content: '\f079'
}

.juicer-fa-comments:before {
    content: '\f086'
}

.juicer-fa-thumbtack:before {
    content: '\f08d'
}

.juicer-fa-twitter:before {
    content: '\f099'
}

.juicer-fa-rss:before {
    content: '\f09e'
}

.juicer-fa-users:before {
    content: '\f0c0'
}

.juicer-fa-pinterest:before {
    content: '\f0d2'
}

.juicer-fa-caret-down:before {
    content: '\f0d7'
}

.juicer-fa-envelope:before {
    content: '\f0e0'
}

.juicer-fa-linkedin-in:before {
    content: '\f0e1'
}

.juicer-fa-angle-left:before {
    content: '\f104'
}

.juicer-fa-angle-right:before {
    content: '\f105'
}

.juicer-fa-angle-up:before {
    content: '\f106'
}

.juicer-fa-angle-down:before {
    content: '\f107'
}

.juicer-fa-thumbs-up:before {
    content: '\f164'
}

.juicer-fa-youtube:before {
    content: '\f167'
}

.juicer-fa-instagram:before {
    content: '\f16d'
}

.juicer-fa-flickr:before {
    content: '\f16e'
}

.juicer-fa-tumblr:before {
    content: '\f173'
}

.juicer-fa-vimeo-square:before {
    content: '\f194'
}

.juicer-fa-slack:before {
    content: '\f198'
}

.juicer-fa-spotify:before {
    content: '\f1bc'
}

.juicer-fa-deviantart:before {
    content: '\f1bd'
}

.juicer-fa-soundcloud:before {
    content: '\f1be'
}

.juicer-fa-vine:before {
    content: '\f1ca'
}

.juicer-fa-yelp:before {
    content: '\f1e9'
}

.juicer-fa-calculator:before {
    content: '\f1ec'
}

.juicer-fa-trash:before {
    content: '\f1f8'
}

.juicer-fa-hashtag:before {
    content: '\f292'
}

.juicer-fa-facebook-f:before {
    content: '\f39e'
}

.tc-blue {
    color: blue
}

.bg-blue {
    background-color: blue
}

.bd-blue {
    border-color: blue
}

.tc-background {
    color: #fff9f2
}

.bg-background {
    background-color: #fff9f2
}

.bd-background {
    border-color: #fff9f2
}

.tc-black {
    color: #000
}

.bg-black {
    background-color: #000
}

.bd-black {
    border-color: #000
}

.tc-blood {
    color: #c6524c
}

.bg-blood {
    background-color: #c6524c
}

.bd-blood {
    border-color: #c6524c
}

.tc-border {
    color: #e6e0d8
}

.bg-border {
    background-color: #e6e0d8
}

.bd-border {
    border-color: #e6e0d8
}

.tc-dark-gray {
    color: #222
}

.bg-dark-gray {
    background-color: #222
}

.bd-dark-gray {
    border-color: #222
}

.tc-dark-maroon {
    color: #610000
}

.bg-dark-maroon {
    background-color: #610000
}

.bd-dark-maroon {
    border-color: #610000
}

.tc-embed {
    color: #999
}

.bg-embed {
    background-color: #999
}

.bd-embed {
    border-color: #999
}

.tc-footer-border {
    color: #353535
}

.bg-footer-border {
    background-color: #353535
}

.bd-footer-border {
    border-color: #353535
}

.tc-footer {
    color: #1e1e1e
}

.bg-footer {
    background-color: #1e1e1e
}

.bd-footer {
    border-color: #1e1e1e
}

.tc-form-border {
    color: #ccc
}

.bg-form-border {
    background-color: #ccc
}

.bd-form-border {
    border-color: #ccc
}

.tc-grapefruit {
    color: #f25951
}

.bg-grapefruit {
    background-color: #f25951
}

.bd-grapefruit {
    border-color: #f25951
}

.tc-gray {
    color: #888
}

.bg-gray {
    background-color: #888
}

.bd-gray {
    border-color: #888
}

.tc-green {
    color: #0b6e27
}

.bg-green {
    background-color: #0b6e27
}

.bd-green {
    border-color: #0b6e27
}

.tc-input-color {
    color: #555
}

.bg-input-color {
    background-color: #555
}

.bd-input-color {
    border-color: #555
}

.tc-light-gray {
    color: #aaa
}

.bg-light-gray {
    background-color: #aaa
}

.bd-light-gray {
    border-color: #aaa
}

.tc-lighter-gray {
    color: #eee
}

.bg-lighter-gray {
    background-color: #eee
}

.bd-lighter-gray {
    border-color: #eee
}

.tc-lightest-gray {
    color: #f3f3f3
}

.bg-lightest-gray {
    background-color: #f3f3f3
}

.bd-lightest-gray {
    border-color: #f3f3f3
}

.tc-maroon {
    color: #813333
}

.bg-maroon {
    background-color: #813333
}

.bd-maroon {
    border-color: #813333
}

.tc-medium-gray {
    color: #bbb
}

.bg-medium-gray {
    background-color: #bbb
}

.bd-medium-gray {
    border-color: #bbb
}

.tc-nav-bg {
    color: #2e3034
}

.bg-nav-bg {
    background-color: #2e3034
}

.bd-nav-bg {
    border-color: #2e3034
}

.tc-nav-header {
    color: #27292c
}

.bg-nav-header {
    background-color: #27292c
}

.bd-nav-header {
    border-color: #27292c
}

.tc-nav-link-hover {
    color: #4a4d53
}

.bg-nav-link-hover {
    background-color: #4a4d53
}

.bd-nav-link-hover {
    border-color: #4a4d53
}

.tc-off-white {
    color: #d2d2d2
}

.bg-off-white {
    background-color: #d2d2d2
}

.bd-off-white {
    border-color: #d2d2d2
}

.tc-orange {
    color: #feb753
}

.bg-orange {
    background-color: #feb753
}

.bd-orange {
    border-color: #feb753
}

.tc-salmon {
    color: #f57a74
}

.bg-salmon {
    background-color: #f57a74
}

.bd-salmon {
    border-color: #f57a74
}

.tc-satan {
    color: #666
}

.bg-satan {
    background-color: #666
}

.bd-satan {
    border-color: #666
}

.tc-sidebar-border {
    color: #3a3d43
}

.bg-sidebar-border {
    background-color: #3a3d43
}

.bd-sidebar-border {
    border-color: #3a3d43
}

.tc-slevin {
    color: #777
}

.bg-slevin {
    background-color: #777
}

.bd-slevin {
    border-color: #777
}

.tc-white-field {
    color: #f9f8f6
}

.bg-white-field {
    background-color: #f9f8f6
}

.bd-white-field {
    border-color: #f9f8f6
}

.tc-white {
    color: #fff
}

.bg-white {
    background-color: #fff
}

.bd-white {
    border-color: #fff
}

.bg-none {
    background: none !important
}

.j-blog::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-blog-bg {
    background-color: #FF6600
}

.j-blog-border {
    border-color: #FF6600
}

.j-blog-color {
    color: #FF6600
}

.j-blog-text {
    color: #FF6600;
    background: transparent
}

.j-blog-text:before {
    color: #FF6600
}

.j-blog-text-hover:hover {
    color: #FF6600;
    background: transparent
}

.j-blog-text-hover:hover:before {
    color: #FF6600
}

.j-blog-hover.highlight,
.j-blog-hover:hover {
    background: #FF6600 !important;
    color: white;
    border-bottom: 1px solid #cc5200 !important
}

.j-blog-hover.highlight:before,
.j-blog-hover:hover:before {
    color: white
}

.j-email::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-email-bg {
    background-color: #F17E6F
}

.j-email-border {
    border-color: #F17E6F
}

.j-email-color {
    color: #F17E6F
}

.j-email-text {
    color: #F17E6F;
    background: transparent
}

.j-email-text:before {
    color: #F17E6F
}

.j-email-text-hover:hover {
    color: #F17E6F;
    background: transparent
}

.j-email-text-hover:hover:before {
    color: #F17E6F
}

.j-email-hover.highlight,
.j-email-hover:hover {
    background: #F17E6F !important;
    color: white;
    border-bottom: 1px solid #ec5441 !important
}

.j-email-hover.highlight:before,
.j-email-hover:hover:before {
    color: white
}

.j-facebook::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-facebook-bg {
    background-color: #3B5998
}

.j-facebook-border {
    border-color: #3B5998
}

.j-facebook-color {
    color: #3B5998
}

.j-facebook-text {
    color: #3B5998;
    background: transparent
}

.j-facebook-text:before {
    color: #3B5998
}

.j-facebook-text-hover:hover {
    color: #3B5998;
    background: transparent
}

.j-facebook-text-hover:hover:before {
    color: #3B5998
}

.j-facebook-hover.highlight,
.j-facebook-hover:hover {
    background: #3B5998 !important;
    color: white;
    border-bottom: 1px solid #2d4373 !important
}

.j-facebook-hover.highlight:before,
.j-facebook-hover:hover:before {
    color: white
}

.j-flickr::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-flickr-bg {
    background-color: #ff0084
}

.j-flickr-border {
    border-color: #ff0084
}

.j-flickr-color {
    color: #ff0084
}

.j-flickr-text {
    color: #ff0084;
    background: transparent
}

.j-flickr-text:before {
    color: #ff0084
}

.j-flickr-text-hover:hover {
    color: #ff0084;
    background: transparent
}

.j-flickr-text-hover:hover:before {
    color: #ff0084
}

.j-flickr-hover.highlight,
.j-flickr-hover:hover {
    background: #ff0084 !important;
    color: white;
    border-bottom: 1px solid #cc006a !important
}

.j-flickr-hover.highlight:before,
.j-flickr-hover:hover:before {
    color: white
}

.j-giphy-bg {
    background-color: #232830
}

.j-giphy-border {
    border-color: #232830
}

.j-giphy-color {
    color: #232830
}

.j-giphy-text {
    color: #232830;
    background: transparent
}

.j-giphy-text:before {
    color: #232830
}

.j-giphy-text-hover:hover {
    color: #232830;
    background: transparent
}

.j-giphy-text-hover:hover:before {
    color: #232830
}

.j-giphy-hover.highlight,
.j-giphy-hover:hover {
    background: #232830 !important;
    color: white;
    border-bottom: 1px solid #0d0f13 !important
}

.j-giphy-hover.highlight:before,
.j-giphy-hover:hover:before {
    color: white
}

.j-hashtag::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-hashtag-bg {
    background-color: #F17E6F
}

.j-hashtag-border {
    border-color: #F17E6F
}

.j-hashtag-color {
    color: #F17E6F
}

.j-hashtag-text {
    color: #F17E6F;
    background: transparent
}

.j-hashtag-text:before {
    color: #F17E6F
}

.j-hashtag-text-hover:hover {
    color: #F17E6F;
    background: transparent
}

.j-hashtag-text-hover:hover:before {
    color: #F17E6F
}

.j-hashtag-hover.highlight,
.j-hashtag-hover:hover {
    background: #F17E6F !important;
    color: white;
    border-bottom: 1px solid #ec5441 !important
}

.j-hashtag-hover.highlight:before,
.j-hashtag-hover:hover:before {
    color: white
}

.j-instagram::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-instagram-bg {
    background-color: #3F729B
}

.j-instagram-border {
    border-color: #3F729B
}

.j-instagram-color {
    color: #3F729B
}

.j-instagram-text {
    color: #3F729B;
    background: transparent
}

.j-instagram-text:before {
    color: #3F729B
}

.j-instagram-text-hover:hover {
    color: #3F729B;
    background: transparent
}

.j-instagram-text-hover:hover:before {
    color: #3F729B
}

.j-instagram-hover.highlight,
.j-instagram-hover:hover {
    background: #3F729B !important;
    color: white;
    border-bottom: 1px solid #305777 !important
}

.j-instagram-hover.highlight:before,
.j-instagram-hover:hover:before {
    color: white
}

.j-linkedin::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-linkedin-bg {
    background-color: #007bb6
}

.j-linkedin-border {
    border-color: #007bb6
}

.j-linkedin-color {
    color: #007bb6
}

.j-linkedin-text {
    color: #007bb6;
    background: transparent
}

.j-linkedin-text:before {
    color: #007bb6
}

.j-linkedin-text-hover:hover {
    color: #007bb6;
    background: transparent
}

.j-linkedin-text-hover:hover:before {
    color: #007bb6
}

.j-linkedin-hover.highlight,
.j-linkedin-hover:hover {
    background: #007bb6 !important;
    color: white;
    border-bottom: 1px solid #005983 !important
}

.j-linkedin-hover.highlight:before,
.j-linkedin-hover:hover:before {
    color: white
}

.j-pinterest::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-pinterest-bg {
    background-color: #CB2028
}

.j-pinterest-border {
    border-color: #CB2028
}

.j-pinterest-color {
    color: #CB2028
}

.j-pinterest-text {
    color: #CB2028;
    background: transparent
}

.j-pinterest-text:before {
    color: #CB2028
}

.j-pinterest-text-hover:hover {
    color: #CB2028;
    background: transparent
}

.j-pinterest-text-hover:hover:before {
    color: #CB2028
}

.j-pinterest-hover.highlight,
.j-pinterest-hover:hover {
    background: #CB2028 !important;
    color: white;
    border-bottom: 1px solid #9f191f !important
}

.j-pinterest-hover.highlight:before,
.j-pinterest-hover:hover:before {
    color: white
}

.j-slack::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-slack-bg {
    background-color: #000
}

.j-slack-border {
    border-color: #000
}

.j-slack-color {
    color: #000
}

.j-slack-text {
    color: #000;
    background: transparent
}

.j-slack-text:before {
    color: #000
}

.j-slack-text-hover:hover {
    color: #000;
    background: transparent
}

.j-slack-text-hover:hover:before {
    color: #000
}

.j-slack-hover.highlight,
.j-slack-hover:hover {
    background: #000 !important;
    color: white;
    border-bottom: 1px solid black !important
}

.j-slack-hover.highlight:before,
.j-slack-hover:hover:before {
    color: white
}

.j-soundcloud::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-soundcloud-bg {
    background-color: #f30
}

.j-soundcloud-border {
    border-color: #f30
}

.j-soundcloud-color {
    color: #f30
}

.j-soundcloud-text {
    color: #f30;
    background: transparent
}

.j-soundcloud-text:before {
    color: #f30
}

.j-soundcloud-text-hover:hover {
    color: #f30;
    background: transparent
}

.j-soundcloud-text-hover:hover:before {
    color: #f30
}

.j-soundcloud-hover.highlight,
.j-soundcloud-hover:hover {
    background: #f30 !important;
    color: white;
    border-bottom: 1px solid #cc2900 !important
}

.j-soundcloud-hover.highlight:before,
.j-soundcloud-hover:hover:before {
    color: white
}

.j-spotify::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-spotify-bg {
    background-color: #1ed760
}

.j-spotify-border {
    border-color: #1ed760
}

.j-spotify-color {
    color: #1ed760
}

.j-spotify-text {
    color: #1ed760;
    background: transparent
}

.j-spotify-text:before {
    color: #1ed760
}

.j-spotify-text-hover:hover {
    color: #1ed760;
    background: transparent
}

.j-spotify-text-hover:hover:before {
    color: #1ed760
}

.j-spotify-hover.highlight,
.j-spotify-hover:hover {
    background: #1ed760 !important;
    color: white;
    border-bottom: 1px solid #18aa4c !important
}

.j-spotify-hover.highlight:before,
.j-spotify-hover:hover:before {
    color: white
}

.j-tumblr::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-tumblr-bg {
    background-color: #375471
}

.j-tumblr-border {
    border-color: #375471
}

.j-tumblr-color {
    color: #375471
}

.j-tumblr-text {
    color: #375471;
    background: transparent
}

.j-tumblr-text:before {
    color: #375471
}

.j-tumblr-text-hover:hover {
    color: #375471;
    background: transparent
}

.j-tumblr-text-hover:hover:before {
    color: #375471
}

.j-tumblr-hover.highlight,
.j-tumblr-hover:hover {
    background: #375471 !important;
    color: white;
    border-bottom: 1px solid #263b4f !important
}

.j-tumblr-hover.highlight:before,
.j-tumblr-hover:hover:before {
    color: white
}

.j-twitter::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-twitter-bg {
    background-color: #55ACEE
}

.j-twitter-border {
    border-color: #55ACEE
}

.j-twitter-color {
    color: #55ACEE
}

.j-twitter-text {
    color: #55ACEE;
    background: transparent
}

.j-twitter-text:before {
    color: #55ACEE
}

.j-twitter-text-hover:hover {
    color: #55ACEE;
    background: transparent
}

.j-twitter-text-hover:hover:before {
    color: #55ACEE
}

.j-twitter-hover.highlight,
.j-twitter-hover:hover {
    background: #55ACEE !important;
    color: white;
    border-bottom: 1px solid #2795e9 !important
}

.j-twitter-hover.highlight:before,
.j-twitter-hover:hover:before {
    color: white
}

.j-vimeo::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-vimeo-bg {
    background-color: #1AB7EA
}

.j-vimeo-border {
    border-color: #1AB7EA
}

.j-vimeo-color {
    color: #1AB7EA
}

.j-vimeo-text {
    color: #1AB7EA;
    background: transparent
}

.j-vimeo-text:before {
    color: #1AB7EA
}

.j-vimeo-text-hover:hover {
    color: #1AB7EA;
    background: transparent
}

.j-vimeo-text-hover:hover:before {
    color: #1AB7EA
}

.j-vimeo-hover.highlight,
.j-vimeo-hover:hover {
    background: #1AB7EA !important;
    color: white;
    border-bottom: 1px solid #1295bf !important
}

.j-vimeo-hover.highlight:before,
.j-vimeo-hover:hover:before {
    color: white
}

.j-vine::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-vine-bg {
    background-color: #00BF8F
}

.j-vine-border {
    border-color: #00BF8F
}

.j-vine-color {
    color: #00BF8F
}

.j-vine-text {
    color: #00BF8F;
    background: transparent
}

.j-vine-text:before {
    color: #00BF8F
}

.j-vine-text-hover:hover {
    color: #00BF8F;
    background: transparent
}

.j-vine-text-hover:hover:before {
    color: #00BF8F
}

.j-vine-hover.highlight,
.j-vine-hover:hover {
    background: #00BF8F !important;
    color: white;
    border-bottom: 1px solid #008c69 !important
}

.j-vine-hover.highlight:before,
.j-vine-hover:hover:before {
    color: white
}

.j-yelp::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-yelp-bg {
    background-color: #C41200
}

.j-yelp-border {
    border-color: #C41200
}

.j-yelp-color {
    color: #C41200
}

.j-yelp-text {
    color: #C41200;
    background: transparent
}

.j-yelp-text:before {
    color: #C41200
}

.j-yelp-text-hover:hover {
    color: #C41200;
    background: transparent
}

.j-yelp-text-hover:hover:before {
    color: #C41200
}

.j-yelp-hover.highlight,
.j-yelp-hover:hover {
    background: #C41200 !important;
    color: white;
    border-bottom: 1px solid #910d00 !important
}

.j-yelp-hover.highlight:before,
.j-yelp-hover:hover:before {
    color: white
}

.j-youtube::before {
    content: "";
    font-family: 'fontawesome-5-juicer'
}

.j-youtube-bg {
    background-color: #FF0000
}

.j-youtube-border {
    border-color: #FF0000
}

.j-youtube-color {
    color: #FF0000
}

.j-youtube-text {
    color: #FF0000;
    background: transparent
}

.j-youtube-text:before {
    color: #FF0000
}

.j-youtube-text-hover:hover {
    color: #FF0000;
    background: transparent
}

.j-youtube-text-hover:hover:before {
    color: #FF0000
}

.j-youtube-hover.highlight,
.j-youtube-hover:hover {
    background: #FF0000 !important;
    color: white;
    border-bottom: 1px solid #cc0000 !important
}

.j-youtube-hover.highlight:before,
.j-youtube-hover:hover:before {
    color: white
}

.j-soundcloud::before {
    position: relative;
    left: -4px
}

.j-hashtag::before {
    position: relative;
    left: -2px
}

.j-juicer::before {
    content: url(//assets.juicer.io/small-square-5c1396a2ebe4ff05db2926e880300420d3de4482b82fad44edb5956de50e5a9b.png)
}

.j-email::before {
    position: relative;
    top: -1px !important
}

.j-giphy::before {
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    background-image: url("https://static.juicer.io/logos/giphy.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain
}

.j-stack>li.j-giphy {
    height: auto
}

.j-stack>li.j-giphy::before {
    display: none
}

.j-stack .j-meta .j-giphy::before {
    height: 25px;
    width: 25px
}

.j-sprite,
.juicer-feed h1.referral a:after,
.juicer-feed li.feed-item.j-twitter .j-retweet:before,
.juicer-feed .j-meta .j-twitter-intents a,
.j-gallery .j-image:after,
.j-gallery-nav .j-gallery-arrow,
.j-overlay .j-close {
    text-indent: -9999px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(//assets.juicer.io/embed-sa624fbec2c-e25f9ecc56fb89133b8ce7a03cfad8acb2fc3a6ab47ca9a3bfaacd51aa4a07ce.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 2) {
    .j-sprite,
    .juicer-feed h1.referral a:after,
    .juicer-feed li.feed-item.j-twitter .j-retweet:before,
    .juicer-feed .j-meta .j-twitter-intents a,
    .j-gallery .j-image:after,
    .j-gallery-nav .j-gallery-arrow,
    .j-overlay .j-close {
        background-image: url(//assets.juicer.io/embed-retina-s1ef173355c-294ed2256c0ec9bb2a7d8c5130d53300d631c1a8f3f5cdc2b76ad5c4a22f9ee2.png)
    }
}

.j-loading-container {
    width: 100%;
    position: absolute;
    z-index: 99;
    height: 100%;
    background: rgba(242, 242, 242, 0.6);
    top: 0
}

.j-loading-container .j-loading {
    position: fixed;
    left: 58.5%
}

@media all and (max-width: 1000px) {
    .j-loading-container .j-loading {
        left: 50%
    }
}

.source-form .j-loading {
    margin: 35px auto 0
}

.j-loading {
    -moz-animation: loader 2s infinite ease;
    -webkit-animation: loader 2s infinite ease;
    animation: loader 2s infinite ease;
    width: 30px;
    height: 30px;
    border: 4px solid #0b6e27;
    margin: 0 auto;
    font-size: 0;
    color: transparent
}

.j-loading:before {
    -moz-animation: loader-inner 2s infinite ease-in;
    -webkit-animation: loader-inner 2s infinite ease-in;
    animation: loader-inner 2s infinite ease-in;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #0b6e27;
    content: ''
}

@-moz-keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@-webkit-keyframes loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@keyframes loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

.juicer-feed {
    *zoom: 1;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    position: relative;
    margin: 0 auto !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    line-height: 1.4
}

.juicer-feed:after {
    content: "";
    display: table;
    clear: both
}

.juicer-feed .j-stacker {
    display: table;
    table-layout: fixed;
    width: 100%
}

.juicer-feed .j-stacker>* {
    display: table-cell !important;
    vertical-align: top;
    float: none !important
}

.juicer-feed * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.juicer-feed.loaded {
    visibility: visible;
    opacity: 1
}

.juicer-feed .j-loading-wrapper,
.juicer-feed .j-paginate {
    margin: 50px auto
}

.juicer-feed .j-paginate {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    border: 2px solid #0b6e27;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #0b6e27;
    text-align: center;
    padding: 12px 0 10px;
    cursor: pointer;
    background-color: transparent;
    width: 150px;
    display: block;
    text-transform: uppercase
}

.juicer-feed .j-paginate:hover {
    background: #0b6e27;
    color: #F2F2F2
}

.juicer-feed a {
    text-decoration: none !important;
    border-bottom: none
}

.juicer-feed h1.referral {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto 30px;
    text-align: center;
    display: block;
    white-space: nowrap
}

.juicer-feed h1.referral a {
    color: #f05a4b;
    display: inline-block
}

.juicer-feed h1.referral a:after {
    height: 25px;
    width: 14px;
    background-position: 100% -168px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    top: -1px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 2) {
    .juicer-feed h1.referral a:after {
        background-position: 100% -336px;
        -moz-background-size: 18px auto;
        -o-background-size: 18px auto;
        -webkit-background-size: 18px auto;
        background-size: 18px auto;
        background-position: 100% -168px
    }
}

.juicer-feed .bulk-moderate {
    color: white
}

.juicer-feed .bulk-moderate:hover {
    color: white
}

.juicer-feed .emoji {
    width: 1.5em !important;
    height: 1.5em !important;
    margin-bottom: 0 !important;
    margin-bottom: -0.25em !important;
    display: inline-block
}

.juicer-feed.photos-only li.words {
    display: none
}

.juicer-feed.white li.feed-item,
.juicer-feed.user li.feed-item,
.juicer-feed.image-grid li.feed-item,
.juicer-feed.hip li.feed-item,
.juicer-feed.gray li.feed-item,
.juicer-feed.modern li.feed-item,
.juicer-feed.polaroid li.feed-item {
    opacity: 0
}

.juicer-feed li.feed-item.juicer-ad>a>img {
    background-color: white
}

.juicer-feed.hover-images .feed-item.j-twitter .j-retweet:before {
    height: 13px;
    width: 18px;
    background-position: 0 -636px
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 2) {
    .juicer-feed.hover-images .feed-item.j-twitter .j-retweet:before {
        background-position: 0 -1272px;
        -moz-background-size: 18px auto;
        -o-background-size: 18px auto;
        -webkit-background-size: 18px auto;
        background-size: 18px auto;
        background-position: 0 -636px
    }
}

.juicer-feed.hover-images .feed-item.j-twitter .j-twitter-meta {
    color: white
}

.juicer-feed.hover-images .feed-item.j-twitter .j-twitter-meta a {
    font-weight: normal
}

.juicer-feed.hover-images .feed-item.j-twitter.image-post .j-image,
.juicer-feed.hover-images .feed-item.j-twitter.j-video .j-image,
.juicer-feed.hover-images .feed-item.j-twitter.slick-slide .j-image {
    position: absolute;
    width: 100%;
    height: 100%
}

.juicer-feed.hover-images .feed-item.j-twitter.image-post .j-image img,
.juicer-feed.hover-images .feed-item.j-twitter.j-video .j-image img,
.juicer-feed.hover-images .feed-item.j-twitter.slick-slide .j-image img {
    height: 100% !important;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.juicer-feed.hover-images .feed-item.j-twitter.image-post .j-message,
.juicer-feed.hover-images .feed-item.j-twitter.j-video .j-message,
.juicer-feed.hover-images .feed-item.j-twitter.slick-slide .j-message {
    color: white
}

.juicer-feed.hover-images .feed-item.j-twitter.j-video .j-image:before {
    content: ''
}

.juicer-feed.white .feed-item.j-twitter .j-image,
.juicer-feed.user .feed-item.j-twitter .j-image,
.juicer-feed.juicer-widget .feed-item.j-twitter .j-image,
.juicer-feed.colors .feed-item.j-twitter .j-image,
.juicer-feed.gray .feed-item.j-twitter .j-image {
    margin-top: 20px;
    display: block
}

.juicer-feed.white li.feed-item,
.juicer-feed.user li.feed-item,
.juicer-feed.juicer-widget li.feed-item,
.juicer-feed.colors li.feed-item,
.juicer-feed.gray li.feed-item,
.juicer-feed.modern li.feed-item,
.juicer-feed.polaroid li.feed-item {
    padding: 10px;
    background: white;
    color: #3A3A3A;
    margin-bottom: 5%;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 0 1px 1px 0;
    white-space: normal;
    float: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto
}

.juicer-feed.white li.feed-item.juicer,
.juicer-feed.user li.feed-item.juicer,
.juicer-feed.juicer-widget li.feed-item.juicer,
.juicer-feed.colors li.feed-item.juicer,
.juicer-feed.gray li.feed-item.juicer,
.juicer-feed.modern li.feed-item.juicer,
.juicer-feed.polaroid li.feed-item.juicer {
    background: #0b6e27;
    color: white
}

.juicer-feed.white li.feed-item.juicer a,
.juicer-feed.user li.feed-item.juicer a,
.juicer-feed.juicer-widget li.feed-item.juicer a,
.juicer-feed.colors li.feed-item.juicer a,
.juicer-feed.gray li.feed-item.juicer a,
.juicer-feed.modern li.feed-item.juicer a,
.juicer-feed.polaroid li.feed-item.juicer a {
    color: white;
    text-decoration: underline !important
}

.juicer-feed.white li.feed-item.juicer a:hover,
.juicer-feed.user li.feed-item.juicer a:hover,
.juicer-feed.juicer-widget li.feed-item.juicer a:hover,
.juicer-feed.colors li.feed-item.juicer a:hover,
.juicer-feed.gray li.feed-item.juicer a:hover,
.juicer-feed.modern li.feed-item.juicer a:hover,
.juicer-feed.polaroid li.feed-item.juicer a:hover {
    color: white
}

.juicer-feed.white li.feed-item.j-twitter .j-text,
.juicer-feed.user li.feed-item.j-twitter .j-text,
.juicer-feed.juicer-widget li.feed-item.j-twitter .j-text,
.juicer-feed.colors li.feed-item.j-twitter .j-text,
.juicer-feed.gray li.feed-item.j-twitter .j-text,
.juicer-feed.modern li.feed-item.j-twitter .j-text,
.juicer-feed.polaroid li.feed-item.j-twitter .j-text {
    padding: 20px
}

.juicer-feed.white li.feed-item.j-twitter .j-message,
.juicer-feed.user li.feed-item.j-twitter .j-message,
.juicer-feed.juicer-widget li.feed-item.j-twitter .j-message,
.juicer-feed.colors li.feed-item.j-twitter .j-message,
.juicer-feed.gray li.feed-item.j-twitter .j-message,
.juicer-feed.modern li.feed-item.j-twitter .j-message,
.juicer-feed.polaroid li.feed-item.j-twitter .j-message {
    color: #5c5c5c;
    font-weight: bold;
    font-size: 18px
}

.juicer-feed.white li.feed-item .j-message a,
.juicer-feed.white li.feed-item .j-edit a,
.juicer-feed.user li.feed-item .j-message a,
.juicer-feed.user li.feed-item .j-edit a,
.juicer-feed.juicer-widget li.feed-item .j-message a,
.juicer-feed.juicer-widget li.feed-item .j-edit a,
.juicer-feed.colors li.feed-item .j-message a,
.juicer-feed.colors li.feed-item .j-edit a,
.juicer-feed.gray li.feed-item .j-message a,
.juicer-feed.gray li.feed-item .j-edit a,
.juicer-feed.modern li.feed-item .j-message a,
.juicer-feed.modern li.feed-item .j-edit a,
.juicer-feed.polaroid li.feed-item .j-message a,
.juicer-feed.polaroid li.feed-item .j-edit a {
    font-weight: bold
}

.juicer-feed.white img,
.juicer-feed.white .video-wrapper,
.juicer-feed.white .vine-wrapper,
.juicer-feed.white .instagram-wrapper,
.juicer-feed.white .twitter-wrapper,
.juicer-feed.user img,
.juicer-feed.user .video-wrapper,
.juicer-feed.user .vine-wrapper,
.juicer-feed.user .instagram-wrapper,
.juicer-feed.user .twitter-wrapper,
.juicer-feed.juicer-widget img,
.juicer-feed.juicer-widget .video-wrapper,
.juicer-feed.juicer-widget .vine-wrapper,
.juicer-feed.juicer-widget .instagram-wrapper,
.juicer-feed.juicer-widget .twitter-wrapper,
.juicer-feed.colors img,
.juicer-feed.colors .video-wrapper,
.juicer-feed.colors .vine-wrapper,
.juicer-feed.colors .instagram-wrapper,
.juicer-feed.colors .twitter-wrapper,
.juicer-feed.gray img,
.juicer-feed.gray .video-wrapper,
.juicer-feed.gray .vine-wrapper,
.juicer-feed.gray .instagram-wrapper,
.juicer-feed.gray .twitter-wrapper,
.juicer-feed.modern img,
.juicer-feed.modern .video-wrapper,
.juicer-feed.modern .vine-wrapper,
.juicer-feed.modern .instagram-wrapper,
.juicer-feed.modern .twitter-wrapper,
.juicer-feed.polaroid img,
.juicer-feed.polaroid .video-wrapper,
.juicer-feed.polaroid .vine-wrapper,
.juicer-feed.polaroid .instagram-wrapper,
.juicer-feed.polaroid .twitter-wrapper {
    width: 100%;
    margin-bottom: 10px
}

.juicer-feed.white img iframe,
.juicer-feed.white img video,
.juicer-feed.white img embed,
.juicer-feed.white .video-wrapper iframe,
.juicer-feed.white .video-wrapper video,
.juicer-feed.white .video-wrapper embed,
.juicer-feed.white .vine-wrapper iframe,
.juicer-feed.white .vine-wrapper video,
.juicer-feed.white .vine-wrapper embed,
.juicer-feed.white .instagram-wrapper iframe,
.juicer-feed.white .instagram-wrapper video,
.juicer-feed.white .instagram-wrapper embed,
.juicer-feed.white .twitter-wrapper iframe,
.juicer-feed.white .twitter-wrapper video,
.juicer-feed.white .twitter-wrapper embed,
.juicer-feed.user img iframe,
.juicer-feed.user img video,
.juicer-feed.user img embed,
.juicer-feed.user .video-wrapper iframe,
.juicer-feed.user .video-wrapper video,
.juicer-feed.user .video-wrapper embed,
.juicer-feed.user .vine-wrapper iframe,
.juicer-feed.user .vine-wrapper video,
.juicer-feed.user .vine-wrapper embed,
.juicer-feed.user .instagram-wrapper iframe,
.juicer-feed.user .instagram-wrapper video,
.juicer-feed.user .instagram-wrapper embed,
.juicer-feed.user .twitter-wrapper iframe,
.juicer-feed.user .twitter-wrapper video,
.juicer-feed.user .twitter-wrapper embed,
.juicer-feed.juicer-widget img iframe,
.juicer-feed.juicer-widget img video,
.juicer-feed.juicer-widget img embed,
.juicer-feed.juicer-widget .video-wrapper iframe,
.juicer-feed.juicer-widget .video-wrapper video,
.juicer-feed.juicer-widget .video-wrapper embed,
.juicer-feed.juicer-widget .vine-wrapper iframe,
.juicer-feed.juicer-widget .vine-wrapper video,
.juicer-feed.juicer-widget .vine-wrapper embed,
.juicer-feed.juicer-widget .instagram-wrapper iframe,
.juicer-feed.juicer-widget .instagram-wrapper video,
.juicer-feed.juicer-widget .instagram-wrapper embed,
.juicer-feed.juicer-widget .twitter-wrapper iframe,
.juicer-feed.juicer-widget .twitter-wrapper video,
.juicer-feed.juicer-widget .twitter-wrapper embed,
.juicer-feed.colors img iframe,
.juicer-feed.colors img video,
.juicer-feed.colors img embed,
.juicer-feed.colors .video-wrapper iframe,
.juicer-feed.colors .video-wrapper video,
.juicer-feed.colors .video-wrapper embed,
.juicer-feed.colors .vine-wrapper iframe,
.juicer-feed.colors .vine-wrapper video,
.juicer-feed.colors .vine-wrapper embed,
.juicer-feed.colors .instagram-wrapper iframe,
.juicer-feed.colors .instagram-wrapper video,
.juicer-feed.colors .instagram-wrapper embed,
.juicer-feed.colors .twitter-wrapper iframe,
.juicer-feed.colors .twitter-wrapper video,
.juicer-feed.colors .twitter-wrapper embed,
.juicer-feed.gray img iframe,
.juicer-feed.gray img video,
.juicer-feed.gray img embed,
.juicer-feed.gray .video-wrapper iframe,
.juicer-feed.gray .video-wrapper video,
.juicer-feed.gray .video-wrapper embed,
.juicer-feed.gray .vine-wrapper iframe,
.juicer-feed.gray .vine-wrapper video,
.juicer-feed.gray .vine-wrapper embed,
.juicer-feed.gray .instagram-wrapper iframe,
.juic