.container { width: 100%; }
.row { padding: 5%; display: flex; flex-wrap: wrap; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-6 { width: 50%; }
.col-8 { width: 66.66666667%; }
.col-12 { width: 100%; }

.banner { 
	height: 100vh;
	background: url(../img/oramen-welcome-banner.jpg) top center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.introduction { background: #281f3a; background-image: linear-gradient(160deg, #281f3a, black); color: white; }

.logo {  }

@media screen and (max-width: 767px){
	.col-xs { width: 100%; }
}
