.container { width: 100%; }
.row { padding: 5%; display: flex; flex-wrap: wrap; }
.instagram { padding: 0; }

.justify-center { justify-content: center; }

.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-6 { width: 50%; }
.col-8 { width: 66.66666667%; }
.col-12 { width: 100%; }

.offset-col-2 { margin-left: 16.66666667%; }
.offset-col-3 { margin-left: 25%; }
.offset-col-4 { margin-left: 33.33333333%; }

.banner { 
	height: calc(100vh);
	background: url(../img/oramen-header-min.jpg) center center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.introduction { background: #fff; background-image: url(../img/oramen-section-pattern.png); }

.logo {  }

footer { background: black; text-align: center; padding: 2.5% 2.5% 5% 2.5%; }
footer ul { list-style-type: none; padding: 0; margin: 0;}
footer ul li { display: inline-block; margin: 0 1%; color: #fff; }

.button { 
	z-index: 500;
	position: fixed;
	left: 50%;
	bottom: 15px;
	width: 250px;
	margin-left: -125px;
	text-align: center;
	background: #E33B5F;
	padding: 1% 0;
	border-radius: 50px; 
	color: #fff;
	text-decoration: none;
}
aside {  }

@media screen and (max-width: 767px){
	.col-xs { width: 100%; }
	.offset-col-2, .offset-col-3, .offset-col-4 { margin-left: -33.33333333%; }
	.button { padding: 4% 0; }
	footer { padding: 10% 0 15% 0; }
	footer ul li { display: block; margin: 2.5%; }
}
