.container { width: 100%; }
.row { padding: 5%; display: flex; flex-wrap: wrap; }
.row:after { content:''; display: table; }
.justify-center { justify-content: center; }
.align-bottom { align-items: flex-end; }
.line-break { margin-top: 2%; }
.parallax { height: 0; padding: 0;}

.col-1 { width: 8.33333333%; }
.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-6 { width: 50%; }
.col-8 { width: 66.66666667%; }
.col-12 { width: 100%; }

.col-padding { padding: 0 2.5%; background: rgba(0,0,0,0.8); }

/*.offset-col-2 { margin-left: 16.66666667%; }
.offset-col-3 { margin-left: 25%; }
.offset-col-4 { margin-left: 33.33333333%; }*/

.banner { 
	height: calc(100vh);
	background: url(../img/oramen-welcome-banner.jpg) top center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.logo {  }
.image-showcase { width: 95%; padding: 2.5%;}
.introduction .row { padding-bottom: 0; }
.drop { position:relative; z-index: 10; }
.map-banner { 
	height: 500px;
	background: url(../img/oramen-map.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
}

.map-button {
	display: inline-block;
	position: relative;
	width: 250px;
	text-align: center;
	background: #E33B5F;
	padding: 1% 0;
	/*left: 50%;
	margin-left: -125px;*/
	top: 400px;
	border-radius: 50px; 
	color: #fff;
	text-decoration: none;
}

.oramen-address {
	padding-top: 0 ;
	padding-bottom: 0;
	text-align: left;
}

.juicer-feed .referral { display: none !important; }

body { background: #281f3a; }
main { background-image: url(../img/oramen-section-pattern.png); overflow-x: hidden; }
footer { background: #020403; text-align: center; padding: 2.5% 2.5% 5% 2.5%; }
address { color: #fff; }
footer ul { list-style-type: none; padding: 0; margin: 0;}
footer ul li { display: block; color: #fff; }
footer a { color: #fff; text-decoration: none; }
footer a:hover { border-bottom: 1px solid; }

.button { 
	z-index: 500;
	position: fixed;
	left: 50%;
	bottom: 15px;
	width: 250px;
	margin-left: -125px;
	text-align: center;
	background: #E33B5F;
	padding: 1% 0;
	border-radius: 50px; 
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 767px){
	.col-xs { width: 100%; }
	.col-padding { padding: 5%; }
	.offset-col-6 { margin-left: -50%; }
	.offset-col-3 { margin-left: 46%; }
	.button, .map-button { padding: 4% 0; }
	.map-button { margin: 1% 0; top: 350px; }
	footer { padding: 10% 0 15% 0; }
	.oramen-address { text-align: center; }
}
